.profile {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  background-color: #202020;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  margin: 0 auto;
}

.profile__title {
  margin-top: 71px;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.profile__signout {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  text-decoration: none;
  color: #EE3465;
  max-width: 410px;
  align-self: center;
  cursor: pointer;
}

.profile__input-error {
  color: #FF004C;
  font-size: 11px;
  text-align: center;
}

.profile__input-success {
  color: #228e49;
  font-size: 11px;
  text-align: center;
}

.profile__input_error {
  color: #FF004C;
}

.profile__signout:hover {
  transition: 0.2s ease-in;
  opacity: 0.7;
}

.profile__input {
  padding: 0;
  font-size: 14px;
  line-height: 17px;
  background-color: #202020;
  border: none;
  color: #fff;
  outline: none;
  outline-offset: 0;
  box-sizing: border-box;
  text-align: right;
  padding-top: 0;
}

.profile__input:focus {
  outline: 1px solid 	#4285F4;
}

.profile__input:last-of-type {
  margin-bottom: 0;
}

.profile__input-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
  padding-bottom: 15px;
  border-bottom: 2px solid #424242;
  justify-content: space-between;
}

.profile__input-container:hover {
  border-bottom: 2px solid #4285F4;
}

.profile__input-container:last-of-type {
  border-bottom: none;
}

.profile__input-label {
  color: #fff;
  font-size: 11px;
  line-height: 13px;
  align-self: center;
}

@media screen and (max-width: 1100px) {
  .profile__title {
    margin-top: 40px;
  }
}

@media screen and (max-width: 500px) {
  .profile__title {
    margin-top: 105px;
  }
}