.login__input-container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 24px;
}

.login__input-container:last-of-type {
  margin-bottom: 0;
}

.login__input {
  padding: 0;
  font-size: 14px;
  line-height: 17px;
  max-width: 398px;
  background-color: #202020;
  border: none;
  border-bottom: 2px solid #424242;
  color: #fff;
  outline: none;
  outline-offset: 0;
  box-sizing: border-box;
  padding-top: 5px;
  padding-bottom: 10px;
}

.login__input:hover {
  border-bottom: 2px solid #4285F4;
}

.login__input_error {
  color: #EE3465;
}

.login__input-error {
  display: block;
  position: absolute;
  font-size: 10px;
  line-height: 12px;
  font-weight: 400;
  color: #EE3465;
  top: 47px;
  bottom: 0;
}

.login__input-label {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #8B8B8B;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}